# Server
PORT=5000

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=museum_db

# Admin Credential dan JWT Secret Default (opsional)
ADMIN_EMAIL=admin@museumnesia.com
ADMIN_PASSWORD=admin123
JWT_SECRET=isikunci
